<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="healthProduct.HealthProductJourneyWithExcel"/>
      <class name="carProduct.CarProductJourney"/>
      <class name="bikeProduct.TwowheelerProductJourney"/>
      <class name="childProduct.ChildProductJourney"/>
      <class name="investmentProduct.InvestmentProductJourney"/>
      <class name="pensionProduct.PensionProductJourney"/>
      <class name="termProduct.TermProductJourney"/>
      <class name="travelProduct.TravelProductJourney"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
